@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--color-background);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-text);
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.noScrollBar::-webkit-scrollbar-track {
  display: none;
}

.noScrollBar::-webkit-scrollbar-thumb {
  display: none;
}

html[data-theme="dark"] {
  --color-background: #010101;
  --color-background-shade: #272727;
  --color-button-submit: #005fc4;
  --color-button-submit-hover: #02346a;
  --color-shadow: #6e6e6e;
  --color-border-dark: #313131;
  --color-border-medium: #555555;
  --color-border-light: #757575;
  --color-border-hover-primary: #ca0000;
  --color-shadow-dark: #313131;
  --color-shadow-medium: #555555;
  --color-shadow-light: #757575;
  --color-text: #d2dee1;
  --color-text-hover-primary: #ca0000;
  /* --color-primary: #ca0000 */
  /* --color-primary: #005fc4; */
  --color-primary: #005fc4;
  /* --color-primary: #62aba4; */
  /* --color-primary: #551015; */
  --color-secondary: #ca0000;
}

